.public{
	width: 1066px;
	margin: 0 auto;
}

header .header{
	height: 78px;
}
header .header .logo{
	float: left;
}
header .header .nav{
	float: left;
	margin-left: 69px;
}
header .header .nav a{
	/* display: inline-block; */
	float: left;
	height: 78px;
	background: url(../assets/nav.png) no-repeat;
}
header .header .nav a:hover{
	background: url(../assets/nav-on.png) no-repeat;
}
header .header .nav a:nth-of-type(1){
	width:89px;
	background-position: -2px;
}
header .header .nav a:nth-of-type(2){
	width: 112px;
	background-position: -92px;
}
header .header .nav a:nth-of-type(3){
	width:132px;
	background-position: -205px;
}
header .header .nav a:nth-of-type(4){
	width: 107px;
	background-position: -338px;
}


header .header .right{
	float: right;
	padding-right: 1px;
	padding-top: 11px;
	padding-bottom: 17px;
	background: url(../assets/icon-line.png) no-repeat 101px 16px;
}
header .header .right .login-register a{
	font: 12px/20px "";
	color: #a1968c;
	float: right;
	margin-left: 31px;
}
header .header .right .search{
	border: 1px solid #d2beab;
	margin-top: 6px;
}
header .header .right .search input{
	height: 22px;
	float: left;
}
header .header .right .search input:nth-of-type(1){
	border: 0;
	width: 110px;
}
header .header .right .search input:nth-of-type(2){
	border: 0;
	width: 29px;
	background: url(../assets/search.png) no-repeat 7px;
}




#banner img{
	position: relative;
	left: 50%;
	margin-left: -719.5px;
}


#live{
	border: 1px solid #f2f1ef;
}
#live .live{
	position: relative;
	padding-top: 2px;
}
#live .live img:nth-of-type(1){
	position: absolute;
	left: 19px;
	top: 8px;
}
#live .live img:nth-of-type(2){
	position: absolute;
	left: 513px;
	bottom: -1px;
}
#live .live p{
	font: 12px/34px "";
	color: #000;
	padding-left: 50px;
}




#main{
	background: #d6dae2;
}
#main .main{
	position: relative;
}
#main .main .artical{
	float: left;
	padding-right: 20px;
}
#main .main div h2{
	font: 20px/60px "";
	color: #000;
	padding-left: 50px;
	/* padding-right: 650px; */
}
#main .main .artical .artical-top{
	margin-top: 20px;
	background: #f2f1ef;
	position: relative;
}
#main .main .artical .artical-top a img.more{
	position: absolute;
	top: 32px;
	right: 21px;
}
#main .main .artical .artical-top img.icon-lesson{
	position: absolute;
	top: 20px;
	left: 20px;
}
#main .main .artical .artical-top .subject1{
	margin-left: 20px;
}
#main .main .artical .artical-top .subject2{
	margin: 0 31px 0 31px;
}
#main .main .artical .artical-top .subject3{
	margin-right: 20px;
}
#main .main .artical .artical-top .subject1 img{
	border-bottom: 3px solid #1fc0ef;
}
#main .main .artical .artical-top .subject2 img{
	border-bottom: 3px solid #f6a544;
}
#main .main .artical .artical-top .subject3 img{
	border-bottom: 3px solid #8cbe00;
}

#main .main .artical .artical-top div{
	float: left;
	/* width: 226px; */
	/* height: 273px; */
	background: #fff;
	margin-bottom: 20px;
}
#main .main .artical .artical-top div p{
	width: 196px;
	margin-left: 10px;
	padding-right: 10px;
}
#main .main .artical .artical-top div .p1{
	font: 12px/28px "";
	color: #000;
	margin-top: 10px;
}
#main .main .artical .artical-top div .p2{
	font: 14px/20px "";
	color: #888;
	margin-bottom: 12px;
}



#main .main .artical .artical-middle{
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	width: 780px;
	height: 498px;
	background: #f2f1ef;
}
#main .main .artical .artical-middle a img.more{
	position: absolute;
	top: 32px;
	right: 21px;
}
#main .main .artical .artical-middle img.icon-share{
	position: absolute;
	top: 20px;
	left: 20px;
}
#main .main .artical .artical-middle div{
	/* width: 740px; */
	/* height: 126px; */
	/* background: #fff; */
	margin-left: 20px;
	margin-right: 20px;
}
#main .main .artical .artical-middle div p{
	padding-left: 126px;
}
#main .main .artical .artical-middle div p:nth-of-type(1){
	font: 20px/22px "";
	color: #000;
	padding-top: 18px;
}
#main .main .artical .artical-middle div p:nth-of-type(2){
	font: 9px/25px "";
	color: #888;
	padding-left: 143px;
}
#main .main .artical .artical-middle div p:nth-of-type(3){
	font: 12px/22px "";
	color: #000;
	padding-bottom: 39px;
}
#main .main .artical .artical-middle div p.p3{
	padding-bottom: 17px;
}
#main .main .artical .artical-middle .lesson1{
	background: url(../assets/share1.jpg) no-repeat 20px 20px,url(../assets/clock.jpg) no-repeat 126px 47px,white url(../assets/icon-at.png) no-repeat 643px -20px;
}
#main .main .artical .artical-middle .lesson2{
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../assets/share2.jpg) no-repeat 20px 20px,url(../assets/clock.jpg) no-repeat 126px 47px,white url(../assets/icon-video.png) no-repeat 643px -20px;
}
#main .main .artical .artical-middle .lesson3{
	background: url(../assets/share3.jpg) no-repeat 20px 20px,url(../assets/clock.jpg) no-repeat 126px 47px,white url(../assets/icon-laptop.png) no-repeat 643px -20px;
	/* margin-bottom: 20px; */
}
#main .main .artical .artical-middle .lesson img{
	padding-top: 20px;
	padding-left: 20px;
}




#main .main .artical .artical-bottom{
	width: 780px;
	/* height: 698px; */
	background: #f2f1ef;
	position: relative;
	padding-bottom: 55px;
}
#main .main .artical .artical-bottom h3{
	font: 20px/20px "";
	color: #000;
	padding-left: 50px;
	padding-top: 20px;
}
#main .main .artical .artical-bottom div{
	height: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e3e2;
}
#main .main .artical .artical-bottom div p{
	padding-left: 266px;
}
#main .main .artical .artical-bottom div p:nth-of-type(1){
	font: 18px/30px "";
	color: #000;
	margin-top: -5px;
}
#main .main .artical .artical-bottom div p:nth-of-type(2){
	font: 12px/24px "";
	color: #888;
	padding-left: 285px;
	background: url(../assets/clock.jpg) no-repeat 266px 6px;
}

#main .main .artical .artical-bottom div p:nth-of-type(3){
	font: 12px/24px "";
	color: #000;
	margin-top: 23px;
}


#main .main .artical .artical-bottom div:nth-of-type(1){
	background: url(../assets/activity1.jpg) no-repeat 20px 20px;
}
#main .main .artical .artical-bottom div:nth-of-type(2){
	background: url(../assets/activity2.jpg) no-repeat 20px 20px;
}
#main .main .artical .artical-bottom div:nth-of-type(3){
	background: url(../assets/activity3.jpg) no-repeat 20px 20px;
}
#main .main .artical .artical-bottom a img.more{
	position: absolute;
	top: 32px;
	right: 21px;
}
#main .main .artical .artical-bottom img.icon-xing{
	position: absolute;
	top: 20px;
	left: 20px;
}

#main .main .aside{
	position: relative;
}
#main .main .aside a{
	display: inline-block;
	padding-left: 20px;
}
#main .main .aside a:nth-of-type(2){
	padding-top: 20px;
	padding-bottom: 20px;
}
#main .main .aside a:nth-of-type(3){
	padding-bottom: 11px;
}
#main .main .aside .point1{
	position: absolute;
	top: 89px;
	left: 20px;
}
#main .main .aside .point2{
	position: absolute;
	top: 88px;
	left: 242px;
}

#main .main .aside span{
	font: 12px/28px "";
	padding-top: 2px;
	padding-left: 27px;
	padding-right: 27px;
	border-left: 1px solid #ccc;
	float: left;
	letter-spacing: 2px;
}
#main .main .aside span:nth-of-type(1){
	color: #000;
	border-top: 1px solid #ccc;
	margin-left: 22px;
}
#main .main .aside span:nth-of-type(2){
	color: #919191;
	border-bottom: 1px solid #ccc;
	margin-bottom: 17px;
}
#main .main .aside{
	float: right;
}
#main .main .aside ul{
	padding-left: 21px;
	padding-bottom: 14px;
	border: 1px solid #e4e3e2;
}
/* #main .main .aside ul li{
	background: url(../picture/number10.jpg) no-repeat 0px 0px;
} */
#main .main .aside ul li a{
	font: 12px/30px "";
	color: #000;
	padding-left: 29px;
	background: url(../assets/number10.jpg) no-repeat left;
}
#main .main .aside img.daxue{
	padding-left: 20px;
	padding-top: 17px;
}
#main .main .aside div{
	padding-top: 3px;
	color: #000;
	padding-left: 20px;
}
#main .main .aside div p:nth-of-type(1){
	font: 18px/40px "";
}
#main .main .aside div p:nth-of-type(2){
	font: 12px/24px "";
	width: 224px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e3e2;
}

#main .main .aside ol li{
	color: #000000;
	padding-left: 20px;
}
#main .main .aside ol li:nth-of-type(1){
	font: 18px/50px "";
	padding-left: 50px;
	background: url(../assets/icon-phone.png) no-repeat 20px 15px;
}
#main .main .aside ol li:nth-of-type(2){
	font: 12px/30px "";
	}
#main .main .aside ol li:nth-of-type(3){
	font: 14px/20px "";
}





#main .main .ewm{
	float: right;
	position: absolute;
	right: -128px;
	top: 20px;
}
#main .main .ewm p{
	font: 12px/26px "";
	color: #666;
	text-align: center;
}
#main .main .ewm p:nth-of-type(1){
	margin: 2px 0 2px 0;
}
#main .main .ewm p:nth-of-type(2){
	margin: 4px 0 7px 0;
}





#line div{
	width: 25%;
	height: 3px;
	float: left;
}
#line div:nth-of-type(1){
	background: #1fc0ef;
}
#line div:nth-of-type(2){
	background: #f6a544;
}
#line div:nth-of-type(3){
	background: #8cbe00;
}
#line div:nth-of-type(4){
	background: #ff6c00;
}


#main .main .aside{
	width: 266px;
	height: 1586px;
	background: #fcfafb;
	margin-top: 20px;
	position: relative;
}
#main .main .aside img.icon-rank{
	position: absolute;
	top: 20px;
	left: 20px;
}


#list{
	border-top: 1px solid #fff;
	background: #f6f6f6;
}
#list .list{
	display: flex;
	height: 311px;
}
#list .list h3{
	font: 12px/30px "";
	padding-left: 20px;
}
#list .list>div:nth-of-type(1){
	width: 780px;
	margin-right: 20px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1){
	height: 171px;
	/* background: url(../picture/1.png) no-repeat 35px 63px,url(../picture/2.png) no-repeat 163px 62px,url(../picture/3.png) no-repeat 289px 62px,url(../picture/4.png) no-repeat 414px 63px,url(../picture/5.png) no-repeat 546px 63px,url(../picture/6.png) no-repeat 667px 63px; */
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1)>section{
	display: flex;
	flex-wrap: wrap;
	padding-left: 35px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1)>section>a{
	padding: 7px 53px 18px 0;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1)>section>a:nth-of-type(7){
	padding-left: 5px;
	padding-right: 60px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1)>section>a:nth-of-type(9){
	padding-right: 64px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(1)>section>a:nth-of-type(11){
	padding-top: 18px;
}


#list .list>div:nth-of-type(1)>div:nth-of-type(2){
	height: 139px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(2)>section{
	display: flex;
	flex-wrap: wrap;
	padding-left: 33px;
	width: 740px;
}
#list .list>div:nth-of-type(1)>div:nth-of-type(2)>section>a{
	display: block;
	font: 12px/26px "";
	padding-right: 34px;
}






#list .list>div:nth-of-type(2){
	width: 266px;
	margin-top: 24px;
}
#list .list>div:nth-of-type(2)>p{
	font: 12px/34px "";
	color: #000;
}
#list .list>div:nth-of-type(2)>a{
	color: #a4a4a4;
	font: 12px/36px "";
}
#list .list>div:nth-of-type(2)>p:nth-of-type(2){
	background: url(../assets/image1.jpg) no-repeat 6px 4px;
}
#list .list>div:nth-of-type(2)>p:nth-of-type(4){
	background: url(../assets/image2.jpg) no-repeat 4px 7px;
}
#list .list>div:nth-of-type(2)>p>a:nth-of-type(1){
	margin-bottom: 1px;
	margin-left: 24px;
}
#list .list>div:nth-of-type(2)>p>a:nth-of-type(2){
	margin-left: 27px;
}





footer{
	height: 102px;
	background: #bababa;
}
footer .footer p{
	text-align: center;
	color: #000;
}
footer .footer p:nth-of-type(1){
	font: 14px/24px "";
	padding-top: 27px;
}
footer .footer p:nth-of-type(2){
	font: 12px/22px "";
}